body {
	margin: 0;
	padding: 0;
	background-color: #5AADEB;
	font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", 
			CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", 
			sans-serif;
}

#top-bar {
	text-align: right;
	padding: 0;
}

#github-star {
	margin-top: 10px;
	margin-left: 10px;
}

.hor-section {
    padding: 10px 10px 10px 10px;
    margin: 0;
}

#header {
	margin-top: 0;
	text-align: center;
}

#header > a {
	text-decoration: none;
	color: inherit;
}

#search-options {
	text-align: center;
	color: white;
	background-color: black;
}

#location-search-options {
	display: none;
}

#street-search-options {
	display: none;
}

#results-container {
	background-color: white;
	overflow: auto;
}

#footer {
	text-align: center;
	background-color: orange;
}

.result {
	width: 100%;
	max-width: 375px;
	margin: 0 auto;
}

.result-number {
	float: left;
	text-align: right;
	width: 25%;
	font-size: 3em;
	color: #6E6E6E;
}

.result-info-container {
	float: left;
	width: 75%;
}

.result-info {
	padding: 10px;
}

#footer {
	height: 50px;
	line-height: 50px;
}

#footer > p > a {
	color: black;
}


.r-address {
	font-size: 1.75em;
}

.r-coordinates {
	color: #9D9D9D;
}

.r-location {
	color: #9D9D9D;
}

.r-spaces {
	color: #9D9D9D;
}

.L-button {
	width: 300px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	color: white;
}

#location-search-button {
	background-color: blue;
}

#street-search-button {
	background-color: red;
}

#search-type-selection {
	padding: 25px;
}

#or {
	color: white;
	margin: 25px;
}







