<!doctype html>
<html>
	<head>
		<title>sf bike parking locator</title>

		{% load staticfiles %}
		<script src="{% static "parkfinder/parking.js" %}"></script>

	</head>
	<body>
		<h1>sf bike parking locator</h1>

		<input id="location-trigger" type="button" value="fill my location!">

		<form>
			latitude: <input id="latitude" type="text" name="latitude"><br>
			longitude: <input id="longitude" type="text" name="longitude"><br>
			<input type="submit" value="find bikes!">
		</form>

		{% if latitude and longitude %}

			<p>results for ({{latitude}}, {{longitude}})</p>
		
			

		{% endif %}
	</body>
</html>