<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" >
<html>
	<head>
		<title>sf bike parking locator</title>

		{% load staticfiles %}
		<script src="{% static "parking.js" %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static "normalize.css" %}"/>
		<link rel="stylesheet" type="text/css" href="{% static "style.css" %}"/>

	</head>
	<body>
		<div id="top-bar">
			<iframe id="github-star" src="http://ghbtns.com/github-btn.html?user=cheniel&repo=sf-bike-parking&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
		</div>

		<div id="header" class="hor-section">

			<a href=".">
				<!-- temp image -->
				<img id="bike-img" src="{% static "bike.jpg" %}">
				<p><h1 id="app-name">san francisco bike parking locator</h1></p>
			</a>
			<p>finds nearest public bike rack based on <a href="https://data.sfgov.org/Transportation/Bicycle-Parking-Public-/w969-5mn4">SF open data</a></p>
		</div>
		
		<div id="search-options" class="hor-section">

			{% if latitude and longitude %}
				<p>showing {{ results|length }} results for... </p>
				<p class="search-query">({{latitude}}, {{longitude}})</p>

				<a href=".">
					<div id="new-search-button" class="L-button">
						new search?
					</div>
				</a>

			{% elif street %}
				<p>showing {{ results|length }} results for... </p>
				<p class="search-query">{{street}}</p>


				<a href=".">
					<div id="new-search-button" class="L-button">
						new search?
					</div>
				</a>

			{% else %}
				
				<div id="search-type-selection">

					<button id="location-search-button" class="L-button">
						find via location
					</button>

					<p id="or">OR</p>

					<button id="street-search-button" class="L-button">
						find via street
					</button>
				</div>

				<div id="location-search-options">
					<button id="location-trigger" type="button" class="L-button">fill my location</button>
					<form>
						<input id="latitude" type="text" name="latitude" value="{{latitude}}" placeholder="latitude"><input id="longitude" type="text" name="longitude" value="{{longitude}}" placeholder="longitude"><br />
						<button id="search-location" type="submit" class="L-button">search</button>
					</form>
					<div class="diff-search"><a href=".">try a different search</a></div>
				</div>

				<div id="street-search-options">
					<form>
						street name: <input id="street" type="text" name="street" value="{{street}}" placeholder='omit "street," "st," etc...'><br />
						<button id="search-street" type="submit" class="L-button">search</button>
					</form>
					<div class="diff-search"><a href=".">try a different search</a></div>
				</div>

			{% endif %}

		</div>

		{% if results %}
		<div id="results-container" class="hor-section">
				{% for result in results %}
					<div class="result">
						<div class="result-number">
							{{ result.priority }}
						</div>
						<div class="result-info-container">
							<div class="result-info">
								<div class="r-address">{{result.address}}</div>
								<div class="r-location">@{{result.location}}</div><div class="r-coordinates">({{result.latitude}}, {{result.longitude}}) </div>
								<div class="r-spaces">{{result.numRacks}} racks, {{result.spaces}} spaces. </div>
							</div>
						</div>

					</div>
				{% endfor %}
		</div>
		{% endif %}

		{% if results and rawDataLink %}
		<div id="raw-data-section" class="hor-section">
			<a href="{{rawDataLink}}"><div id="raw-data" class="L-button">raw data</div></a>
		</div>
		{% endif %}

		<div id="footer" class="hor-section">
			<a href="http://www.github.com/cheniel">created by cheniel</a>
		</div>

	</body>
</html>